.padding
{
    padding: 5px;
}

.border
{
    border: solid 1px black;

}

.margin
{
    margin: 5px;
}

h5
{
    float: left;
    padding-right: 10px;
}

textarea
{
    resize: vertical;
}

#inputfile
{
    padding-top: 10px;
}